@import '../../../common.scss';

.menu {
  width: $w;
  height: $h;
  display: flex;
  flex-direction: column;

  .column {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;

    button {
      width: $wT * 3;
      height: $hT * 3;
    }
  }
}
