@import '../../../common.scss';

.command.center {
  width: $w;
  height: $h;

  .header {
    width: $w;
    height: $hT;

    .options {
      width: $wT;
      height: $hT;
    }

    .feed {
      @extend %flex;
      width: $wT * 7;
      height: $hT;
    }

    .expand {
      width: $wT;
      height: $hT;
    }

    .pause {
      width: $wT;
      height: $hT;
    }
  }

  .galaxy {
    width: $w;
    height: $hT * 7;
  }

  .navigation {
    width: $w;
    height: $hT * 2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .item {
      @extend %flex;
      height: $hT * 2;
      flex-basis: 15%;
    }
  }
}
