.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu .item {
  font-size: x-large;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.menu .item:hover {
  filter: drop-shadow(2px 4px 6px black);
  backdrop-filter: blur(2px);
}

.version {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
