@import '../../game.scss';

.setup.species {
  .content {
    @extend %flex;
    width: $w;
    height: $hT * 8;
    flex-direction: column;

    .row {
      display: flex;
      width: 100%;
      flex-grow: 1;

      .section {
        display: flex;
        flex-grow: 1;
        flex-basis: 100%;
        flex-direction: column;

        .range.selector {
          display: flex;
        }
      }
    }
  }
}
