@import '../../../../common.scss';

.start_layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .layout_content {
    width: 100%;
    height: 100%;
  }

  .layout_navigation {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    .navigate {
      @extend %normal;
      width: 4rem;
      height: 3rem;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;

      &:hover {
        @extend %hover;
      }

      &_back {
        margin-right: auto;
      }

      &_forward {
        margin-left: auto;
      }
    }
  }
}
