$delay: 0.3s;
$accent: #cccccc;
$background: #252526;

%normal {
  color: $accent;
  background: $background;
  transition: color $delay, background $delay;
}

%hover {
  color: $background;
  background: $accent;
}

%normal_color {
  color: $accent;
  transition: color $delay;
}

%hover_color {
  color: #569cd6;
}
